* {
  box-sizing: border-box;
  /* border: 1px solid navy; */
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app_container {
  display: flex;
  justify-content: center;
}


